.site-style{
    width: 30%;
    display: inline-block;
}

.site-style2{
    margin: 0;
    width: 30%;
    display: inline-block;
}

.save-style{
    width: 300px;
    margin: 0;
}

.typecss{
    width: 300px;
    height: 40px;
    padding-left: 130px;
    padding-top: 30px;
}

.addTypePage{
    width: 100%;
    height: 100%;
    display: none;
    opacity: 0.75;
}

.addTypeDiv{
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0.75;
    text-align: center;
}
